body {
    font-family: var(--fonte-principal);
    color: #333;
}

main {
    padding: 2.5rem 0 2.5rem;
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;
}

.btn:hover {
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}

.footer-copy {
    font-size: 1.25rem;
    text-align: center;
    padding: 20px 0;
}